/*
    Theme Name: MarqueTheme
    Theme URI: www.example.com/MarqueTheme
    Author: FrancoNori
    Author URI: https://bitbucket.org/franconori/
    Description: An assignment Theme.
    Version: 1.0
    License: GNU General Public License V3 or later
    License URI: http://www.gnu.org/licenses/gpl-3.0.html
    Tags: responsive, parallax, jQuery,
*/


/*Stylesheet for Marquee single-page-app

Colors used:

Dark Gray: #383838;
Gray: #5c5c5c;
Light Gray: #9e9e9e;
Red: #ef1011;
Orange: #df5d2c;
*/


/*Body general styles*/
body { 
    margin:0;
    padding-top: 48px;
    background-color: #383838;
}

/*Header styles*/
body > nav.navbar-fixed-top{
    background-image: url('img/pattern_marque.jpg');
}

body > nav > div > .navbar-collapse > .navbar-nav > li > a{
    color: white;
    font-weight: 600;
}

body > nav.original{
    min-height: 80px;
}

body > nav.original > div > .navbar-collapse > ul{
    margin-top: 1.5%;
}

body > nav.original > div > div.navbar-header > a > img.brand{
    width: 40%;
}

body > nav.different{
    min-height: 60px;
}

body > nav.different > div > .navbar-collapse > ul{
    margin-top: .5%;
}

body > nav.different > div > div.navbar-header > a > img.brand{
    width: 30%;
}

/*First Section Styles*/
body > div.container-fluid.introduction{
    background-image: url('img/slider-1-home.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 16%;
}

body > div.container-fluid.introduction > div > div.background{
    margin-top: 12%;
    margin-bottom: 12%;
}

#introduction > div > div > div > h1{
    margin-bottom: 0px !important;
}

#introduction > div > div > div > h1 > span{
    background-color:  rgba(255, 255, 255, 0.5);
    font-size: 44px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
}

#introduction > div > div > div > h4{
    margin-top: 16px !important;
    padding-top: 1%;
    padding-bottom: 1%;
}

#introduction > div > div > div > h4 > span{
    background-color:  rgba(0, 0, 0, 0.5);
    color: white;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 1%;
    padding-right: 1%;
}

#introduction > div > div > div > p{
    margin-top: 3%;
    border-color: #ffffff;
    color: #ffffff;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 3%;
    padding-left: 3%;
}

body > div.container-fluid.introduction > div > div.chevron-arrow{
    font-size: 100px;
    color: white;
}

/*Second Section Styles*/
body > div.container-fluid.about{
    background-image: url('img/pattern_marque.jpg');
    padding-top: 2%;
    padding-bottom: 2%;
}

#about > div > div.about-text{
    padding-left: 5%;
    padding-right: 5%;
}

#about > div > div > div > p{
    line-height: 1.8;
    color: #ffffff;
    margin-bottom: 0 !important;
}


#about > div > div > div > p > a{
    background-color: #ef1011;
    color:white;
    display: inline;
    padding: 2px 8px !important;
    border-radius: 0px;
}

body > .parallax-window > div.container-fluid.cite{
    padding: 2%;
}

body > .parallax-window > div.container-fluid.cite > div > div{
    margin-top: 15%;
    margin-bottom: 15%;
}

body > .parallax-window > div.container-fluid.cite > div > div > div{
    color: white;
}

/*Third Section Styles*/
body > div.container-fluid.the-rooms{
    background-image: url('img/cartographer.png');
    padding: 2%;
}

#the-rooms > div > div.row.title{
    margin-bottom: 10%;
    color: white;
}

#the-rooms > div > div.row.rooms{
    margin-bottom: 5%;
}

#the-rooms > div > div.row.rooms > div > img{
    margin-bottom: 10%;
}

#the-rooms > div > div.row.rooms > div > h4 > span{
    color: #df5d2c;
}

#the-rooms > div > div.row.rooms > div > p{
    color:#9e9e9e;
}

#the-rooms > div > div.row.rooms > div > h4 > p{
    display: inline;
    color: white;
}

body > div.container-fluid.tour{
    background-image: url('img/preview-exclusive.jpg');
    padding: 3%;
    background-position-y: 738px;
    background-size: 100%;
}

body > div.container-fluid.tour > div > div > div > h2{
    color: #9e9e9e;
}

body > div.container-fluid.tour > div > div > div > h2 > span{
    background-color: rgba(0, 0, 0, 0.5);
}

body > div.container-fluid.tour > div > div > div > button{
    margin-top: 10%;
    background-color: #ef1011;
    color: white;
}

/*Forth Section Styles*/
body > div.container-fluid.contact{
    background-color: #383838;
    padding: 3%;
}

body > div.container-fluid.contact > div > div.data{
    color:#9e9e9e;
}

#contact > div > div > div > h2{
    color: #ef1011;
}

#contact > div > div.data > div > span{
    font-size: 26px;
}

#contact > div > div > div > h5 > i.fa.fa-envelope-o,
#contact > div > div > div > h5 > i.fa.fa-map-marker{
    color:#0eb8c6;
}

body > div.container-fluid.form-contact{
    padding-bottom:3%;
}

body > div.container-fluid.form-contact > div > div{
    color:white;
}

#form-contact > div > div > div > form > button{
    background-color: transparent;
    color: #ffffff;
    border-radius: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
}

/*Bottom buttons*/
body > nav.navbar.navbar-default.navbar-fixed-bottom{
    border-style: none;
    background-color: transparent;
}

body > nav.navbar.navbar-default.navbar-fixed-bottom > div > div{
    float: right;
}

body > nav.navbar.navbar-default.navbar-fixed-bottom > div > div > a.chevron-up-arrow,
body > nav.navbar.navbar-default.navbar-fixed-bottom > div > div > a.envelope {
    float: right;
    color:white;
    background-color: rgba(0,0,0,0.35);
    font-size: 24px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-right: 6%;
    padding-left: 6%;
    margin-right: 4%;
    margin-bottom: 4%;
    text-align: center;
    display: inline-block;
}

body > nav.navbar.navbar-default.navbar-fixed-bottom > div > div > a.chevron-up-arrow{
    display: none;
    float: right;
}

body > nav.navbar.navbar-default.navbar-fixed-bottom > div > div > a:hover{
    text-decoration: none;
}

/*Modified Bootstrap*/
.navbar-brand{
    padding: 0px 0px 0px 0px !important;
}

.form-control{
    background-color: #9e9e9e;
    border: none;
    text-align: center;
    border-radius: 0px;
}

.form-control::-webkit-input-placeholder { color: #383838; }
.form-control:-moz-placeholder { color: #383838; }
.form-control::-moz-placeholder { color: #383838; }
.form-control:-ms-input-placeholder { color: #383838; }